{% extends "base.html" %}
{% block title %}Student Profile{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Student Profile</h2>
  <form method="POST">
    <div class="form-group"style="padding-bottom: 30px;">
      <label>Name:</label>
      <input type="text" class="form-control" value="{{ user[0] }}" disabled>
    </div>
    <div class="form-group"style="padding-bottom: 30px;">
      <label>Email:</label>
      <input type="email" class="form-control" value="{{ user[1] }}" disabled>
    </div>
    <div class="form-group"style="padding-bottom: 30px;">
      <label>Phone:</label>
      <input type="text" class="form-control" value="{{ user[2] }}" disabled>
    </div>
    <div class="form-group"style="padding-bottom: 30px;">
      <label>Gender:</label>
      <input type="text" class="form-control" name="gender" value="{{ user[3] or '' }}">
    </div>
    <div class="form-group"style="padding-bottom: 30px;">
      <label>Counselling Type:</label>
      <input type="text" class="form-control" name="counselling_type" value="{{ user[4] or '' }}">
    </div>
    <div class="form-group" style="padding-bottom: 30px;">
      <label>Qualification:</label>
      <textarea class="form-control" name="bio">{{ user[5] or '' }}</textarea>
    </div>
    <div class="form-group" style="padding-bottom: 30px;">
      <label>Caste:</label>
      <input type="text" class="form-control" name="caste" value="{{ user[6] or '' }}">
    </div>
    <div class="form-group" style="padding-bottom: 50px;">
      <label>Aadhar Number:</label>
      <input type="text" class="form-control" name="aadhaar" value="{{ user[7] or '' }}">
    </div>
    <div class="form-group mt-3 " style="padding-bottom: 50px;">
        <a href="{{ url_for('student_dashboard') }}" class="btn btn-secondary">← Back to Dashboard</a>
      </div>
      
    <!-- <button type="submit" class="btn btn-primary mt-3">Update Profile</button> -->
  </form>
</div>
{% endblock %}
