
{% extends "base.html" %}
{% block content %}
<div class="container hidden" id="about-us-container" style="text-align: center;">
    <h2 style="color: white;">About Us</h2>
    <p id="about-us-text" style="color: white;">This is a Application For Counsellor Managemnet System</p>

    <br>
    <p style="color: white;">You can connect with us and ask your queries here </p> 
    <a href="https://wa.me/7975004993" target="_blank">
        <img src="static/whatsaap.jpg" alt="WhatsApp" 
            style="width: 50px; height: 50px; border-radius: 50%; display: inline-block;">
            
    </a>
  

</div>
{% endblock %}