{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 style="color:white;" class="mb-0">Welcome to Counsellor Dashboard</h2>
    <button class="btn btn-danger btn-custom" onclick="window.location.href='/logout'">Logout</button>
  </div>

<h3 style="color:white;">Messages from Students</h3>

{% for m in messages %}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">{{ m[1] }}</h5>
        <p class="card-text"><strong>Message:</strong> {{ m[2] }}</p>
        <p><strong>Reply:</strong> {{ m[3] if m[3] else "No reply yet." }}</p>
        {% if not m[3] %}
        <form method="post" action="{{ url_for('reply_message', message_id=m[0]) }}">
            <textarea name="reply" class="form-control" required></textarea><br>
            <button type="submit" class="btn btn-sm btn-primary">Reply</button>
        </form>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
