{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 style="color:white;">Select Counsellor</h2>
    <button class="btn btn-danger btn-custom" onclick="window.location.href='/student_dashboard'">Back</button>
  </div>
<ul class="list-group">
    {% for c in counsellors %}
    <li class="list-group-item">
        {{ c[1] }} ({{ c[2] }})
        <a href="{{ url_for('send_message', counsellor_id=c[0]) }}" class="btn btn-sm btn-primary float-end">Send Message</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
