{% extends "base.html" %}
{% block content %}
<h2 style="color:gold; padding: right 100px; padding-left: 200px;">Send Your Message</h2>
<div style="padding-left: 200px; padding-right: 200px; padding-bottom: 200px;">
    <form method="POST" >
        <textarea name="message" class="form-control p-5"   required></textarea><br>
        <button id="xyz" type="submit" class="btn btn-success" >Send</button>
    </form>
</div>

<script>
document.getElementById("xyz").addEventListener("click", function() {
    alert("Your message has been sent!");
});
</script>
{% endblock %}
