{% extends "base.html" %}
{% block title %}Student Dashboard{% endblock %}
{% block content %}
<div class="container text-white">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Welcome, {{ session['user_email'] }}</h2>
    <button class="btn btn-danger btn-custom" onclick="window.location.href='/logout'">Logout</button>
  </div>
  <!-- <h2>Welcome, {{ session['user_email'] }}</h2> -->
  
  <hr>
  <ul>
    <li><a href="{{ url_for('select_counsellor') }}">Ask Guidance and Queries</a></li>
    <!-- <li><a href="{{ url_for('view_bookings') }}">My Bookings</a></li> -->
    <li><a href="{{ url_for('student_messages') }}">View Recent Messages</a></li>
    
  </ul>
</div>
{% endblock %}
