<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adming Login</title>
</head>
<body>
    hi
    <div class="container" id="login-container">
        <h2>Login</h2>
        <form id="login-form" action="/signin" method="post">
            <input type="email" id="login-name" placeholder="Email" name="email" required>
            <input type="password" id="login-password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>New user? <a href="#" id="show-register">Click here to sign up</a></p>
        <p id="login-message" style="color: red;"></p>
        
    </div>
        
</body>
</html>


