{% extends "base.html" %}

{% block title %}Student Signup{% endblock %}

{% block content %}
<div class="container">
  <h2 style="color: white;">Student Signup</h2>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="POST" action="/signup">
    <div class="mb-3">
        <label class="form-label" style="color: white;">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name" required>
      </div>


    <div class="mb-3">
      <label class="form-label" style="color: white;">Username</label>
      <input type="text" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label class="form-label" style="color: white;">Phone</label>
        <input type="text" class="form-control" name="phone" required>
      </div>
    <div class="mb-3">
      <label class="form-label" style="color: white;">Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    
    <button type="submit" class="btn btn-primary">SignUp</button>
  </form>
</div>
{% endblock %}
