
{% extends "base.html" %}
{% block content %}
<div class="container hidden" id="about-us-container" style="text-align: center;">
    <h2>About Us</h2>
    <p id="about-us-text">This is a simple application developed by 3 friends named as Akshay, Prajwal and Harish, main motive of this appication is to book tickets for IPL maches in offline.</p>

    <br>
    <p>You can connect with us and ask your queries here </p> 
    <a href="https://wa.me/7975004993" target="_blank">
        <img src="static/whatsaap.jpg" alt="WhatsApp" 
            style="width: 50px; height: 50px; border-radius: 50%; display: inline-block;">
            
    </a>
  

</div>
{% endblock %}