{% extends "base.html" %}

{% block title %}User Login{% endblock %}

{% block content %}
<div class="container">
  <h2>User Login</h2>
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <a  href="{{ url_for('signup') }}">SignUp</a>
</div>
{% endblock %}
